<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 5</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1 class="color">intro clase 5</h1> 
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo eius possimus inventore vero. Obcaecati, id? Delectus nihil laboriosam ipsa repellat, voluptatem explicabo tempore consectetur fuga molestiae asperiores obcaecati eos aut!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum nesciunt dicta quo, molestiae rem quisquam harum, incidunt asperiores provident aspernatur aliquid nisi molestias hic veniam odit minus sed! Asperiores.</p>
    

</body>
</html>